{% extends "base.html" %}
{% block title %}Passphrase{% endblock %}
{% block content %}
<h1>Rotate Passphrase</h1>

<section class="card narrow">
  <h2>Security Credentials</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <label>Current Passphrase</label>{{ form.current() }}
    <label>New Passphrase (min 10)</label>{{ form.new() }}
    <label>Confirm New Passphrase</label>{{ form.confirm() }}
    <button class="primary" style="width:100%">Rotate Credentials</button>
  </form>
</section>
{% endblock %}
